#LandingPage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#LandingPage h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 12vw;
}

.landing-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: top;
}

.landing-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-title-1 {
    color: #000;
}

#main-title-2 {
    color: #fc1681;
}

.landing-image-left,
.landing-image-right {
    height: 30vh;
    padding: 20px;
}

.landing-image-container-left {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.landing-image-container-right {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.landing-button-container {
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: end;
}

.landing-start-button {
    width: 200px;
    height: 60px;
    font-size: 1.4rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #fc1681,
        0 0 0.8rem #f04796,
        0 0 2.8rem #d84c8d,
        inset 0 0 1.3rem #fca3cc;
    color: #fc1681;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fc1681,
        0 0 82px #fc1681,
        0 0 92px #fc1681,
        0 0 102px #fc1681,
        0 0 151px #fc1681;
    font-family: 'Sarpanch', sans-serif;
    font-weight: 400;
}